<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<% @notes.each do |note| %>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading<%= note.id %>">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= note.id %>" aria-expanded="false" aria-controls="collapse<%= note.id %>">
						<% if @notable.class.to_s == "Project" %>
							<%= link_to 'x', project_note_path(@notable, note) , method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" %>
						<% elsif @notable.class.to_s == "Character" %>
							<%= link_to 'x', character_note_path(@notable, note) , method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" %>
						<% elsif @notable.class.to_s == "Group" %>
							<%= link_to 'x', group_note_path(@notable, note) , method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" %>
						<% elsif @notable.class.to_s == "Scene" %>
							<%= link_to 'x', scene_note_path(@notable, note) , method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" %>
						<% end %>
						<%= note.title %>
					</a>
				</h4>
			</div> <!-- end heading -->
			<div id="collapse<%= note.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%= note.id %>">
				<div class="panel-body">
					<%= raw note.content %>
				</div>
			</div>
		</div>
	<% end %>
</div>