<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, id: :group_title, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.cktext_area :description, id: :group_description %>
  </div>

  <% if current_project %>
    <div class="form-group">
      <%= form.hidden_field :project_id, id: :group_project_id, value: current_project.id %>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label "Project" %><br />
      <%= form.select :project_id, @projects.collect { |p| [ p.title, p.id]}, {include_blank: "Select Project"} %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Save Group", class: "btn btn-primary" %>
  </div>
<% end %>
