<p id="notice"><%= notice %></p>

<div class="jumbotron mini">
  <div class="row">
    <div class="col-sm-8 col-md-9">
      <h2><%= @group.title %></h2>
      <h3 class="lead">Group: The <%= @group.project.title %> Project</h3>
      <h4 class="lead"><%= raw @group.description %></h4>
    </div>
    <div class="col-sm-4 col-md-3">
      <%= link_to 'More Groups', groups_path, class: "btn btn-default btn-lg btn-block" %>
      <% if current_project %>
        <%= link_to 'New Group', new_group_path, class: "btn btn-success btn-sm btn-block" %>
      <% end %>
      <%= link_to 'Edit Group', edit_group_path(@group), class: "btn btn-info btn-sm btn-block" %>
      <%= link_to 'Delete Group', @group, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm btn-block" %>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-sm-5">
		<% if !current_project %>
			<h4><%= link_to "#{@group.project.title} Project Page", project_path(id: @group.project_id), class: "btn btn-lg btn-primary btn-block" %></h4>
		<% end %>
		<h3 class="text-center">Members</h3>
		<div class="list-group">
			<% @group.memberships.each do |m| %>
				<button class="list-group-item">
					<h4>
						<%= link_to m.character.nym, character_path(m.character) %> 
						<span class="pull-right"><%= "Role: #{m.role}" if m.role? %> (<%= link_to 'Remove?', groupmemx_path(id: m.id), method: :delete, data: { confirm: 'Are you sure?' } %>)</span>
					</h4>
				</button>
			<% end %>
		</div>
		<div class="well">
      <h4>Add More Members:</h4>
      <%= form_with url: groupmem_path do |form| %>
        <div class="form-group">
         <%= form.select :character_id, @other_chars.collect { |c| [ c.nym, c.id]}, {include_blank: "Character Name"}, class: "form-control" %>
         <%= form.hidden_field :group_id, value: @group.id %>
        </div>
        <div class="form-group">
         <%= form.text_field :role, placeholder: "Role in group", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.submit "Add Character to Group", class: "btn btn-primary btn-block" %>
        </div>
        <%= link_to "Wait, I need a new character!", new_character_path, class: "btn btn-success btn-block" %>
      <% end %>
    </div>
	</div>
	<div class="col-sm-7">
		<h3 class="text-center">Notes</h3>
		<%= render "note/notes" %>
		<h4 class="text-center">New Note:</h4>
		<%= render "note/form" %>
	</div>
</div>

